/* Позиционирование */
body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  padding: 10px 100px;
}

.create-by {
  /* padding: 10px 100px; */
}

.footer-container {
  padding: 10px 100px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

/* Блочная модель (размеры, отступы) */
* {
  box-sizing: border-box;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

/* Типографика (свойства шрифта) */
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: #326382;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #73CBC9;
}

.main-footer {
  height: 100px;
}

/* Оформление (цвет фона, тень) */
.main {
  
}

.main-header {
  border-bottom: 10px solid #6EBFED;
}

.main-footer {
  background-color: #326382;
  color: white;
}

.nav-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #326382;
  font-size: 20;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: none;
  color: #73CBC9;
}

.git-link {
  text-decoration: none;
  color: white;
  font-size: 20;
  font-weight: bold;
}

.git-link:hover {
  text-decoration: none;
  color: #73CBC9;
}

.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
  cursor: pointer
}

.section-item a:hover {
  color: #4d2323;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./img/school_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Анимация */
html {
  scroll-behavior: smooth; 
}

.nav-link {
  transition: 0.3s;
}
