/* Позиционирование */
body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

/* Блочная модель (размеры, отступы) */
* {
  box-sizing: border-box;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

/* Типографика (свойства шрифта) */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Оформление (цвет фона, тень) */
.main {
  border: 1px solid red;
}

.main-header {
  border: 1px solid red;
}

.main-footer {
  border: 1px solid red;
}

.nav-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #326382;
  font-size: 20;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: none;
  color: #73CBC9;
}

.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
  cursor: pointer
}

.section-item a:hover {
  color: #4d2323;
}

/* Анимация */
html {
  scroll-behavior: smooth; 
}

.nav-link {
  transition: 0.3s;
}
