/* Позиционирование */

/* Блочная модель (размеры, отступы) */
* {
  box-sizing: border-box;
}

/* Типографика (свойства шрифта) */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Оформление (цвет фона, тень) */
.main {
  border: 1px solid red;
}

.main-header {
  border: 1px solid red;
}

.main-footer {
  border: 1px solid red;
}

/* Анимация */
